@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap');
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #1a1a1a;
  font-family: 'Haken Grotesk', sans-serif;
  color: #F9F4DA;
}

main {
  width: 594px;
  height: 750px;
  background-color: #282726;
  margin: 20px auto 0 auto;
}

header {
  padding: 73px 143px 10px;
  text-align: center;
}

h1 {
  color: #F9F4DA;
  margin-bottom: 5px;
  font-size: 1.25rem;
  font-weight: 500;
}

header p {
  color: #8E8E8E;
  font-size: .875rem;
  font-weight: 500;
  line-height: 150%;
}

.status {
  height: 115px;
}

.status-container,
.purple {
  margin: 0 121px 10px 121px;
  padding: 11px 0;
  text-align: center;
  border-radius: 4px;
}

.purple {
  background-color: #7A5EA7;
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px dashed #323232;
  font-size: 1rem;
  font-style: italic;
}

h2 {
  margin: 0;
  padding-bottom: 4px;

}

.status h2,
.status span {
  font-weight: 500;
}

.chips {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2px;
  margin: 0 160px 36px 160px;
}

.chip {
  padding: 5px;
  font-weight: bold;
  font-size: .75rem;
  border-radius: 3px;
  position: relative;
}

.chip.lost::before {
    content: "💀";
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    font-size: 0.85rem;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
}

.word-section {
  display: flex;
  justify-content: center;
  gap: 3px;
  margin-bottom: 36px;
}

.letter {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.125rem;
  font-weight: 700;
  width: 40px;
  height: 40px;
  border-bottom: 2px solid #F9F4DA;
 }

.keyboard {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 6px;
  margin: 0 55px;
  padding-bottom: 36px;
}

.keyboard button {
  font-weight: 600;
  height: 40px;
  width: 40px;
  cursor: pointer;
  background-color: #FCBA29;
  border-radius: 4px;
  color: #1E1E1E;
  border: 1px solid #D7D7D7;
}

.keyboard button:disabled {
  cursor: not-allowed;
  opacity: .5;
}

button.green {
  background-color: #10A95B;
}

button.red {
  background-color: #EC5D49;
}

.new-game-container {
  display: flex;
  justify-content: center;
}

.new-game-btn {
  background-color: #11B5E5;
  display: block;
  text-align: center;
  width: 228px;
  height: 40px;
  font-weight: 600;
  border-radius: 6px;
  border: 1px solid #D7D7D7;
  font-family: inherit;
  cursor: pointer;
}

.redLetter {
  color: #BA2A2A;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.125rem;
  font-weight: 700;
  width: 40px;
  height: 40px;
  border-bottom: 2px solid #F9F4DA;
}