@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap');
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #1a1a1a;
  font-family: 'Haken Grotesk', sans-serif;
  color: #F9F4DA;
}

main {
  width: 594px;
  background-color: #282726;
  margin: 20px auto 0 auto;
}

header {
  padding: 73px 143px 20px;
  text-align: center;
}

h1 {
  color: #F9F4DA;
  margin-bottom: 5px;
  font-size: 1.25rem;
  font-weight: 500;
}

header p {
  color: #8E8E8E;
  font-size: .875rem;
  font-weight: 500;
  line-height: 150%;
}

.status {
  margin: 0 121px 36px 121px;
  padding: 11px 110px;
  background-color: #10A95B;
  text-align: center;
  border-radius: 4px;
}

h2 {
  margin: 0;
  padding-bottom: 4px;

}

.status h2,
.status span {
  font-weight: 500;
}

.chips {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2px;
  margin: 0 160px 36px 160px;
}

.chip {
  padding: 5px;
  font-weight: bold;
  font-size: .75rem;
  border-radius: 3px;
  background-color: red;
}

.word-section {
  display: flex;
  justify-content: center;
  gap: 3px;
  margin-bottom: 36px;
}

.letter {
  font-size: 1.125rem;
  font-weight: 700;
  padding: 13px;
  background-color: #323232;
  border-bottom: 2px solid #F9F4DA;  
}

.keyboard {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 6px;
  margin: 0 55px;
  padding-bottom: 145px;
}

.key {
  font-weight: 600;
  height: 40px;
  width: 40px;
  cursor: pointer;
  background-color: #FCBA29;
  border-radius: 4px;
  color: #1E1E1E;
  border: 1px solid #D7D7D7;
}